	<header>
		<div class="container">
			<h1>Belén Ruibal <br/>
				<strong>UX Designer | UI Developer</strong>
			</h1>
			<nav>
				<button class="menu-toggle"><i>+</i></button>
				<ul class="nav-hidden">
					<li {% if page.url == '/trabajos.html' %}class="active"{% endif %}}><a href="/">Inicio</a></li>
			        <li {% if page.url == '/trabajos.html' %}class="active"{% endif %}}><a href="/trabajos.html">Trabajos</a></li>
			        <li {% if page.url == '/sobre-mi.html' %}class="active"{% endif %}><a href="/sobre-mi.html">Sobre mí</a></li>
			        <li {% if page.url == '/contacto.html' %}class="active"{% endif %}><a href="/contacto.html">Contacto</a></li>
				</ul>
			</nav>
			<!--div id="cssmenu" role="navigation">
				<ul>
				   <li ><a href="/">Inicio</a></li>
			        <li {% if page.url == '/trabajos.html' %}class="active"{% endif %}}><a href="/trabajos.html">Trabajos</a></li>
			        <li {% if page.url == '/sobre-mi.html' %}class="active"{% endif %}><a href="/sobre-mi.html">Sobre mí</a></li>
				</ul>
			</div-->
			<ul class="social-media-icons">
				<li><a href=""><i class="">LinkedIn</i></a></li>
				<li><a href=""><i class="">Behance</i></a></li>
			</ul>
		</div>
	</header>