	<header>
		<div class="container">
			<h1>Belén Ruibal <br/>
				<strong>UX/UI Designer · UI Developer</strong>
			</h1>
			<a href="#menu" id="menu-icon" class="menu-link">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<nav id="menu" role="navigation">
				<ul>
					<li {% if page.url == '/' %}class="active"{% endif %}><a href="#">Inicio</a></li>
					<li {% if page.url == '#trabajos' %}class="active"{% endif %}><a href="#trabajos">Trabajos</a></li>
					<li {% if page.url == '#sobre-mi.html' %}class="active"{% endif %}><a href="#sobre-mi">Sobre mí</a></li>
					<li {% if page.url == '#contacto.html' %}class="active"{% endif %}><a href="#contacto.html">Contacto</a></li>
				</ul>
			</nav>
			<ul class="social-media-icons">
				<li><a href="">{% include icon-behance.svg %}</a></li>
				<li><a href="">{% include icon-linkedin.svg %}</a></li>
			</ul>
		</div>
	</header>