/* -------------------------------------------

COLORS

------------------------------------------- */

$color-red:						#c83c52;
$color-turquoise:				#38bdc9;
$color-blue:					#3c499c;
$color-deep-blue:				#272352;